body {
    background: black;
    font-family: Courier, monospace;
    text-align: center;
    margin-top: 2%;
}
#wrapper {
    display:table;
    width:80%;
    margin: 0 auto;
}

img{
    width: 100%;
}

#h11 {
  display:table-cell;
  width: 20%;
}
#h12 {
  display:table-cell;
  width:20%;
}
#h21 {
  display:table-cell;
  width:20%;
}
#h22 {
  display:table-cell;
  width: 20%;
}
#m11 {
  display:table-cell;
  width:20%;
}
#m12 {
  display:table-cell;
  width:20%;
}
#m21 {
  display:table-cell;
  width:20%;
}
#m22 {
  display:table-cell;
  width:20%;
}
#hop {
  display:table-cell;
  width:20%;
}
#mop {
  display:table-cell;
  width:20%;
}